<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ModelResultBen" value="C:\Users\benoi\Programmation\WPF\MemoryCards\TestsSaveExcel\ModelResult.xlsx"/>
      <add key="SaveExcelBen" value="C:\Users\benoi\Programmation\WPF\MemoryCards\TestsSaveExcel\"/>
      <add key="EtalonnageResultBen" value="C:\Users\benoi\Programmation\WPF\MemoryCards\TestsSaveExcel\Etalonnage.xlsx"/>
      
      <add key="ModelReusltCrm" value="C:\Users\CRM\Documents\GitHub\WpfTTS\MemoryCards\TestsSaveExcel\ModelResult.xlsx"/>
      <add key="SaveExcelCrm" value="C:\Users\CRM\Documents\GitHub\WpfTTS\MemoryCards\TestsSaveExcel\"/>
      <add key="EtalonnageCrm" value="C:\Users\CRM\Documents\GitHub\WpfTTS\MemoryCards\TestsSaveExcel\Etalonnage.xlsx"/>
    </appSettings>
</configuration>